  <div class="alert alert-danger">
    <h3>
      Unfortunately, there was a problem with your request.
    </h3>
    <div>
      Please <a href="<%= request.path_info %>" class="alert-link">click here</a> to try again.
    </div>
  </div>
