  <div id="game_board">
    <table>
      <tbody>
        <!-- top entry -- >
        <tr>
          <td class="board_corner"><img src="trans.gif" class="spacer" /></td>
          <td class="board_corner"><img src="trans.gif" class="spacer" /></td>
        </tr>
        <tr>
          <td class="board_corner"><img src="trans.gif" class="spacer" /></td>
          <td class="board_corner"><img src="trans.gif" class="spacer" /></td>
        </tr>
      </tbody>
    </table>
  </div>
