<!DOCTYPE html>
<html>
  <head>
   <title><%= defined?(title) ? title : 'Game!'%></title>
    <style>
      input[type=number] {
        width: 80px;
      }
    </style>
    <script src='js/jquery-2.1.4.min.js'></script>
    <script src='js/fabric.js'></script>
  </head>

  <body>
    <!-- HTML will go here -->

    <%= yield %>
  </body>
</html>
