.navbar-default {
  background-color: #ffae00;
  border-color: #e7e7e7;
  background-image: none;
}
.navbar-default .navbar-brand {
  color: #0066af;
}
.navbar-static-top {
  border-bottom: 1px solid black;
}
.navbar-default .navbar-nav>li>a {
  color: #0066af;
}
.navbar-brand {
  padding: 5px;
  height: 2em;
}
.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px
}
.navbar {
  min-height: 0px;
}
.spacer {
}
.board_block {
  height: 32px;
  width: 32px;
}
.block {
  border: 1px solid black;
}
.free {
  background-color: #fff;
}
.p1 {
  background-color: #f00;
}
.p2 {
  background-color: #00f;
}
.p3 {
  background-color: #0f0;
}
.obs {
  background-color: #666;
}
.table_game_board {
  border-spacing: 2px;
  border-collapse: separate;
}
